html{
    height: 100%
}

body{
    display:grid;
    grid-template-areas: 
    "top    top    top" 
    ". middle ."
    "bottom bottom bottom";
    
    margin:0;
    height: 100%;
}

#bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: top;
    height:50%;
    border-color: black;
    border-bottom: 3px;
    border-right:0px;
    border-left:0px;
    border-style: solid;
}

#file_input{
    padding:10px;
    background-color: none;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}


#viewer-box{
    grid-area: middle
}
#viewer{
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    width:100%;
    
}
#bar > div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bar > div > a {
    padding:10px;
    text-align: center;
    text-decoration: none;
    color:black;
    margin:10px;
    border-radius: 10px;
    border-style:solid;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 2px 1px;
    
}